<h2>Edit a celeb!</h2>

<form action="/celebrities/{{celebrities._id}}/edit" method="POST">

    <label for="name"> Name:</label>
    <input type="text" name="name" value="{{celebrities.name}}">
<br>
    <label for="occupation"> Occupation:</label>
    <input type="text" name="occupation" value="{{celebrities.occupation}}">
<br>
    <label for="catchPhrase"> Catch Phrase:</label>
    <input type="text" name="catchPhrase" value="{{celebrities.catchPhrase}}">
<br>
    <button type="submit">Edit!</button>
<br>
    <a href="/celebrities/celebrities">Back to the celebs?</a>
</form>