<h2>Create a celebrity!</h2>

<form action="/celebrities/create" method="POST">

<label>Name
    <input type="text" name="name" placeholder="name">
</label><br>

<label>Occupation
    <input type="text" name="occupation" placeholder="...">
</label><br>

<label>Catch phrase
    <input type="text" name="catchPhrase" placeholder="...">
</label><br>

<button type="submit">Create!</button>

</form>