<h2>{{title}}</h2>

<p>Welcome to {{title}}</p><br>
       <li>
              <a href="/celebrities/create">Create a celeb!</a>
       </li><br>

       <li>
              <a href="/celebrities/celebrities">List of celebs!</a>
       </li><br>

       <li>
              <a href="/movies/create">Create a movie!</a>
       </li><br>

       <li>
              <a href="/movies/movies">List of movies!</a>
       </li>